/* group.css */

body {
    font-family: "Arial Bold", sans-serif;
}

h1 {
    font-family: "Palatino Linotype";
}

.left {
    float: left;
}

.msg {
    color: red;
    font-size: 1.5em;
    padding-top: 1em;
}

#navbar {
    background-color: #369;
}

.right {
    float: right;
}

